.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, max-content));
  column-gap: 20px;
  justify-content: space-between;
}
