.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../images/Edit-Button.png);
  background-color: #000000;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  background-position: center;
  cursor: pointer;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: .6;
}
