.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 920px) {
  .header {
    padding: 45px 19px 40px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 24px 27px 32px;
 }
}
