.popup__close-button {
  width: 32px;
  height: 32px;
  background: none;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: -35px;
  top: -35px;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 560px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}
