.profile__info {
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(18px, max-content));
  row-gap: 7px;
  column-gap: 18px;
}

@media screen and (max-width: 560px) {
  .profile__info {
    row-gap: 5px;
    column-gap: 10px;
 }
}
